<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <title><%= title %></title>
 </head>
 <body>
  Watch WebM Live Streaming : <%= channel %><br />
  <!-- watch in <a href='vlc://<%= server %>/stream/<%= channel %>?uuid=<%= uuid %>'>VLC for iOS</a><br /> -->
  <video id="watch_video" width="320px" height="240px"  hidden style="border: 1px solid;">
   <source src='/stream/<%= channel %>?uuid=<%= uuid %>' type='video/webm;' />
  </video>
  <div id="timecode">not started</div>
  <button onclick="startWatching()" id="start" hidden>Start Watching</button>
 </body>
 <script>
  var watchVideo = document.getElementById('watch_video');
  var start = document.getElementById('start');
  var timeDiv = document.getElementById('timecode');
  var statusDiv = document.getElementById('status');
  
  watchVideo.muted = true;
  watchVideo.play();

  setTimeout(() =>{
    watchVideo.currentTime = watchVideo.buffered.end(0) - 1;
    start.style.display = "block";
  }, 10000);

  function startWatching () {
    watchVideo.style.display = "block";
    watchVideo.muted = false;
  }

  watchVideo.ontimeupdate = function() {
    timeDiv.innerHTML = 'time:' + watchVideo.currentTime + ' sec, buffered(' + watchVideo.buffered.start(0) + ' - ' + watchVideo.buffered.end(0) + ')'; 
  };

  
 </script> 
</html>

